* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: black;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.grid-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.grid-line {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.7);
    pointer-events: none;
    opacity: 0;
    animation: glow 3s ease-in-out infinite alternate;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Courier New", monospace;
    color: #00ff00; /* Green text */
    text-shadow: 0 0 5px #00ff00, 0 0 10px #008000;
    z-index: 99;
}


h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
}

@keyframes glow {
    0% {
        opacity: 0;
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.7), 0 0 20px rgba(0, 255, 0, 0.7);
    }
    50% {
        opacity: 1;
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.9), 0 0 40px rgba(0, 255, 0, 0.9);
    }
    100% {
        opacity: 0;
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.7), 0 0 20px rgba(0, 255, 0, 0.7);
    }
}
