* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: black;
    font-family: courier, sans-serif;
}

.grid-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.grid-line {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.7);
    pointer-events: none;
    opacity: 0;
    animation: glow 3s ease-in-out infinite alternate;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #39FF14;
    z-index: 99;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.navbar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
}

.navbar ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar li {
    list-style: none;
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

@keyframes glow {
    0% {
        opacity: 0;
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.7), 0 0 20px rgba(0, 255, 0, 0.7);
    }
    50% {
        opacity: 1;
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.9), 0 0 40px rgba(0, 255, 0, 0.9);
    }
    100% {
        opacity: 0;
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.7), 0 0 20px rgba(0, 255, 0, 0.7);
    }
}
